opinion.mining.from.online.hotel.reviews.a.text.summerization.approach/.idea
opinion.mining.from.online.hotel.reviews.a.text.summerization.approach/env
opinion.mining.from.online.hotel.reviews.a.text.summerization.approach/geckodriver.log

opinion.mining.from.online.hotel.reviews.a.text.summerization.approach/__pycache__
.idea


opinion.mining.from.online.hotel.reviews.a.text.summerization.approach/models/__pycache__
